<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/uikit-rtl.css"/>
    <link rel="stylesheet" href="/uikit-rtl.min.css"/>
    <link rel="stylesheet" href="/uikit.css"/>
    <link rel="stylesheet" href="/uikit.min.css"/>
    <title>Pokedex</title>
</head>
<body>
    <h1>Create New Pokemon</h1>
        <form action="/pokemon" method="POST">
        
        
        
        
        
        
        </form>


    <a href="/pokemon"><button>Back Home</button></a>
</body>
</html>